@import "https://fonts.googleapis.com/icon?family=Material+Icons";

*,html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// SHORTCODE HTML
.events__card{
  &:first-child{
    border-left: 11px solid gold;
  }
  border-left: 11px solid #8080805c;
}
